<div class="container">
    <div class="row">
    <%= image_tag 'ruby.jpg' %>
    <%= image_tag 'rails.png'  %>
    <%= image_tag 'bootstrap.png'  %>
    <%= image_tag 'htmlcss.png', style: 'height:1%;' %>
    </div>
</div>